@import "~bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: 22px;
}

/* Sticky footer */
$footer-height: 60px;
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: -$footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}
