$footer-height: 60px;
$navbar-padding: 22px;

@import "~bootstrap/scss/bootstrap";

.navbar {
  margin-bottom: $navbar-padding;
}

.jumbotron {
  margin-top: -$navbar-padding;
}

// Sticky footer
html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height + $navbar_padding;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}
